<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
   <!-- /// main header//// -->
   <div class="container-fluid main_header">
     <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- //// left side div//// -->
                <div class="col-md-6 col-12 main_header_right align-item-center">
                <figure>
                    <img src="images/about.png" alt="hello" class="img-fluid" title="weather">
                </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left align-item-center">
                    <p>Welcome To Weather App</p>
                    <h1> <span class="text_clr">Check Weather can be Cloudy,Sunny, rainy, Stormy or Clear</span></h1>
                    <a href="/weather"><button>Click Now</button></a>
                </div>
                <!-- //// right side div//// -->
                
                
            </div>
   </div>
   </div>
   </div>
   <!-- footer cod/// -->
   {{>footer}}
</body>
</html>